<!DOCTYPE html>
<html lang="es-es">
<head>
  <meta charset="utf-8">
  <title>Celestiaga - Personal color recognizer powered by machine learning</title>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">

  <style>
    .container {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    .v-application__wrap {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
    }

    [v-cloak] {
      display: none !important
    }
    /* Hide Vue while loading */
  </style>
</head>
<body>
<div id="contenedor-de-mi-app">
  <v-app
    v-cloak
    :style="{ backgroundColor: `rgb(${currentColorR}, ${currentColorG}, ${currentColorB})` }"
  >
    <div class="container">

      <v-alert
        title="La IA predice…"
        :text="iaPrediction"
        style="margin-bottom: 15px;"
      ></v-alert>

      <div style="width: 100%;background: #fff;border-radius: 12px;padding: 10px;">
        <v-form
          ref="form"
          style="width: 100%;"
          @submit.prevent="sendNewColor"
        >
          <v-text-field
            v-model="newColor"
            label="¿Cómo describís a este color?"
            class="shrink"
            required
          ></v-text-field>

          <div class="text-center">
            <v-chip
              v-for="eachColor in userInsertedColors"
              class="ma-2"
              close
              :style="{ backgroundColor: `rgb(${eachColor.r}, ${eachColor.g}, ${eachColor.b})`,color: fgDarkOrLight(eachColor.r, eachColor.g, eachColor.b)}"
              outlined
              @click="clickColorPill(eachColor)"
            >
              {{ eachColor.name }}
            </v-chip>
          </div>

          <div style="display: flex; justify-content: flex-end;">
            <v-btn
              class="mr-4"
              type="submit"
              style="background-color: #ccc;"
            >
              Enviar
            </v-btn>
          </div>
        </v-form>

      </div>
      <canvas id="thecanvas" style="margin: 20px auto;display: flex; justify-content: center;">
      </canvas>
    </div>

    <div style="position: absolute; right: 12px; bottom: 12px; font-size: 12px;">
      🦊 The Fox - HIAM - 2023
    </div>
  </v-app>
</div>
<script src="/dist/script.js"></script>
<!---
The Fox for: Angus MacGyver Hackerspace - Jan/2023

 φ▒╦,
]▓╬╣▓▓▄            ,»φ╣╩
 ╣╬╩╬▓▓╬╬╬╣▓▓▓╣▒▒▓╬╬▓█▓
 ]▓╬╬╣╬╩░╠╩╩╠╣▓╬╬╣▓▓▓█Γ
  ╚╬╬╬╠░φ▒▒╠╬╬╬╬╣╣▓▓▓▓▓φ,,
   ╠╩╠▒▒╠╠╚╙╙╙╙╙╠╣╣╬╬▓╬╬╬╬╬╣▒▒▒φ╗╗╗╦σσα,
  φ╠░░╠╠╬▒φ░░░φ░φ╬╬╣╬╬╬▒▒╚╠╬╬╬╬╬╬╬╬╬╬╬╬╬╣▒ε
  ╠╠▒╠╣▓▓▓▓▓▓▓▓▒╚╠╬╠╩╩╠▒▒░╠╠╠╬╬╬╬╬╠╬╬╬╬╬╠╬╬╬▒╓
 φ╠╬╣▓██████▓▓▓╣▓▓█▓▒╓║╬╠▒░▒▒╠╠╬╬╬╬╠╠╠╬╠╠╠╬╬╬╣▒,
  ╠╬╣██████████▓╬╬╠▒╠╬╬╬╬╬▒▒╠╠╠╬╬╬╠╠╠╬╬╠▒╠╠╬╬╬▓▓╦
  "╫▓▓████▓▓█████╬╠▒╠╬╬╬╬╬╬╠▒▒╠╠╠╠▒▒╠╩╩╚▒╠╬╬╬╬╣▓▓╬ε
    ╚▓██████████▓▓▓╣╬╬╠╠╬╬╬╬╬╠▒╠╠╠▒▒╚░░░╠╠╬╬╬╬╣▓╬╬╣ε
      ╚▓██████▓▓▓▓▓▓▓▓╬▒▒╚╚╚╠╠▒╚▒▒░░¡░φ╠╠╬╬╬╬╬╣╬╙╚▒╚░
        `╚╣╬▓▓▓▓▓▓▓╬╬╬▒▒░░░░▒╠╬╠╬╣╬▒░░▒╠╠╬╬╬╬╬╩░░░▒░░░
           ░░'░╠╩╙╙╙╙╙╙╚░░░░╠╢▓▓▓╬▓▓╬▒╠╠╠╠╠╬╬▒└!░!╚▒░░
           φ~.φ╬        "!░░▒╠╬╬╬╠╣▓▓▓╬╠╩▒╚╩╩▒⌐'" ;░φφφ≥
           !░;╟▒          '░░╩╚╣╬╬╬╬╬▓▓▓▒░░░░░..  '"╙╚▒░░
           '░φ╬⌐           !░Γ  `╙╝╝▒▒░╙╙╩Åφ▒▒▒░   ].^╚░░░
            .╠▒            '░        "╚╠▒φε' └╣▒.-.░░░░░░░░ε
            '╚⌐             [         ,░░╠╙    .░░;░░░!░░░┌!░φ,
             "             '[        φ╠╠╩      φ╩   [░ '''' '^^".,,,,,
                                    ;░╙       '"           --░≥▒▓███████▓▄▄
  ≥        "      ,          "' '       ".                  '""╚╬▓███████████▓▄
                  "                                               "╙╙╙╩╩╩▀▀▀██▀⌐
-->
</body>
</html>